.county.gray .county-days-wrapper, .county.gray .county-hours-wrapper, .county.gray .county-minutes-wrapper, .county.gray .county-seconds-wrapper
{
    color: #d35400;
}

.bottom-social li:hover.icon-bottom a{
	color:#d35400;
}
.home-text p span{
	color:#d35400;
}


















