
.county.gray .county-days-wrapper, .county.gray .county-hours-wrapper, .county.gray .county-minutes-wrapper, .county.gray .county-seconds-wrapper
{
    color: #e74c3c;
}

.bottom-social li:hover.icon-bottom a{
	color:#e74c3c;
}


.home-text p span{
	color:#e74c3c;
}


















