

.county.gray .county-days-wrapper, .county.gray .county-hours-wrapper, .county.gray .county-minutes-wrapper, .county.gray .county-seconds-wrapper
{
    color: #3498db;
}

.bottom-social li:hover.icon-bottom a{
	color:#3498db;
}

.home-text p span{
	color:#3498db;
}















