
.county.gray .county-days-wrapper, .county.gray .county-hours-wrapper, .county.gray .county-minutes-wrapper, .county.gray .county-seconds-wrapper
{
    color: #f1c40f;
}

.bottom-social li:hover.icon-bottom a{
	color:#f1c40f;
}


.home-text p span{
	color:#f1c40f;
}


















