
.county.gray .county-days-wrapper, .county.gray .county-hours-wrapper, .county.gray .county-minutes-wrapper, .county.gray .county-seconds-wrapper
{
    color: #2ecc71;
}


.bottom-social li:hover.icon-bottom a{
	color:#2ecc71;
}

.home-text p span{
	color:#2ecc71;
}

















